:root{
    --RedHatDisplay: 'Red Hat Display', sans-serif;
    --RedHatText: 'Red Hat Text', sans-serif;
    --w100: 100;
    --w800: 800;
    --s1: 1rem;
    --s2: 1.5rem;
    --s3: 2.5rem;
    --s4: 3rem;
    --black: black;
    --casualGrey:#F5F5F5;
}

p h1 h2 h3 h4 a{
    color: var(--black);
}

html{
    font-size: 100%;
}

body{
    background-color: var(--casualGrey);
    margin: 0;
    overflow-x: hidden;
}

.RedHatDisplay{
    font-family: var(--RedHatDisplay);
}

.RedHatText{
    font-family: var(--RedHatText);
}

.Regular{
    font-weight: var(--w100);
    font-size: var(--s1);
}

.Medium{
    font-weight: var(--w200);
    font-size: var(--s2);
}

.NavTitle{
    font-size: var(--s2);
}

.Bold{
    font-weight: var(--w800);
}

.BigText{
    font-size: var(--s4);
}

ion-icon{
    color: var(--black);
}

.centered{
    width: 40rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    box-shadow: 0rem 0rem 0.1rem grey;
    margin-bottom: 5rem;
}

#splash-screen-floating-left{
    position: absolute;
    left: 5rem;
    top: 5rem;
}

.iconTextNav{
    font-size: var(--s2);
    width: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wow:first-child {
    visibility: hidden;
    z-index: -1;
}

.splash-screen-floating-right{
    margin-top: 5rem;
}

#a, .splash-screen-floating-right-img{
  position: absolute;
  right: 20rem;
  z-index: -2;
}

.splash-screen-floating-right-img, #b{
  right: 35rem;
  position: absolute;
  z-index: -3;
}

.splash-screen-floating-right-img, #c{
  right: 5rem;
  position: absolute;
  z-index: -1;
}
